//variables fonts 
$font-paragraphs:  'Open Sans', sans-serif;
$font-titles: 'Libre Baskerville', serif;

//colors 
$color-titles: #A6D3A0;
$color-hoverTitles:#808782;
$color-subtitles:#52489c;
$color-paragraphs:#656565;