body{
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1em;
}
h1{
  font-family: $font-titles;
  color: black;
  text-align: center;
  font-size: 2em; 
  padding-top: 40px;
  text-decoration: underline;
}
h2,h3,h4,h5{
  color: $color-subtitles;
  font-family: $font-titles; 
}
p{
  color: $color-paragraphs;
}

.header{
  height: 150px;
  text-align: center;
  background: url(../img/cats-bg.jpg);
  background-position: bottom;
  border-bottom: 1px solid #656565;
}

h4{
  text-align: center;
}
